{% assign max_companies_shown_limit = site['topics_api']['max_companies_shown'] | plus: 1 %}

<ul class="flex-list flex-list-4-col featured-companies shuffled-list">
{% assign shuffled_featured_companies = site.data.featured-companies | shuffle %}
{% for company in shuffled_featured_companies limit: max_companies_shown_limit %}
  {% for topic in site.data.topics %}
    {% assign company_slug = company | slugify %}
    {% assign awardee_slug = topic['awardeeName'] | slugify %}
    {% if awardee_slug == company_slug %}
      <li><a href="{{ site.baseurl }}/portfolio/details/?company={{ company_slug }}#{{ company_slug }}">{{ company }}</a></li>
      {% break %}
    {% endif %}
  {% endfor %}
{% endfor %}
</ul>
