<ul class="pd-list">
  {% for director in site.data.program-directors %}
    <li class="pd-card">
      {% if director.photo %}
        <img src="{{ site.baseurl }}/assets/img/pd/{{ director.photo }}">
      {% endif %}
      <span class="pd-list-content">
        <h3 class="pd-name"><a href="mailto:{{ director.email }}">{{ director.name }}</a></h3>
        <ul class="pd-topic-list">
          <li class="pd-tech-topic"><a href="{{ site.baseurl }}{{ director.topic_permalink }}">{{ director.topic }}</a></li>
        </ul>
        
        <p class="text-small">
            <a href="mailto:{{ director.email }}">Send email</a>
          </p>
      </span>
    </li>
  {% endfor %}
</ul>
