.accordion-dropdown {
  display: inline-block;
  width: auto;

  &::after {
    display: block;
    clear: both;
    content: '';
  }

  .usa-accordion-button {
    background-image: url('../uswds/img/arrow-up-thick.svg');
    background-color: transparent;
    font-family: $font-serif;
    letter-spacing: $kern-tight;
    margin: 0 0 3rem 0;
    padding: 0 6rem .5rem 0;
    color: $color-primary;
    border: 0;
    border-bottom: 2px solid $color-primary;
    &:hover {
      // background-color: $color-white-transprent;
      border-color: $color-primary-alt;
    }
    &:focus {
      box-shadow: none;
    }
    &[aria-expanded='false'] {
      background-image: url('../uswds/img/arrow-down-thick.svg');
     }
  }
}
