.big-number {
  float: left;
}

.big-number-description {
  float: left;
  margin-left: $space-l;
  margin-top: $space-xl;
  span {
    display: block;
  }
}

.awardees-top-header {
  margin-bottom: $space-l;

  .usa-width-one-whole:first-of-type {
    padding-bottom: $space-l;

    .accordion-dropdown {
      position: relative;
    }

  }
}

#awardees-nav {
  padding: 0;
  margin-top: -3rem;
  position: absolute;
  width: 100%;
  z-index: 999;

  .usa-unstyled-list {
    padding: 2rem 1rem;

    li {
      background-color: $color-white;

      a {
        font-size: $font-size-xs;
        font-weight: 500;
        padding: 1rem;
        display: block;
        color: $color-base;
        border: none;

        &:hover {
          background-color: $color-secondary-lightest;
        }

        &:focus {
          box-shadow: none;
        }

      }
    }
  }
}

.awardees-bottom-header {
  border-top: 2px solid $color-gray-light;
  padding-top: $space-l;

  .flex-list {
    &.flex-list-3-col {

      @media screen and (max-width:799px) {
        li {
          width: 100%;
          border-bottom: 2px solid $color-gray-light;
        }
      }

      @media screen and (min-width: 800px) {
        li {
          width: 33%;
          border-right: 2px solid $color-gray-light;
          padding: $space-l $space-m 0 0;

          &:not(:first-child) {
            padding-left: $space-l;
          }

          &:first-child {
            flex-grow: 1.5;
          }

        }
      }

    }

    li {

      &:last-child {
        border: 0;
      }

      &:nth-child(2) {
        background: url(../img/map-us.svg) no-repeat;
      }

      span {
        display: block;
      }
    }
  }
}

.accordion-number-of-awardees-header {
  width: 8rem;
}

.accordion-number-of-awardees {
  width: 8rem;
  float: left;
  // border: 1px solid #f00;
}

.accordion-tech-topic {
  overflow: hidden;
  padding-right: 4rem;
  line-height: $leading-s;
  display: block;
  margin-left: 7.8rem;

}

.awardees-details-accordion {
  .usa-accordion-content {
    padding-left: $space-s;
    padding-right: $space-s;
  }
  .usa-accordion-button {
    background-image: url('../uswds/img/arrow-down.svg');
    padding-left: $space-s;
    padding-right: $space-s;
    font-family: $font-serif;
    font-size: $font-size-xs;
    font-weight: $font-normal;
    background-color: $color-white;
    border-top: 1px solid $color-gray-light;
    &:hover {
      border: 0;
      border-top: 1px solid $color-gray-light;
      background-color: $color-gray-lighter;
    }
    .accordion-number-of-awardees {
      color: $color-primary;
      padding-right: $space-s;
      display: inline-block;
      font-weight: $font-bold;
      font-size: $font-size-s;
      width: 7rem;
    }

    &:last-of-type {
      border-bottom: 1px solid $color-gray-light;
    }
  }
}
