.big-number {
  float: left;
}

.big-number-description {
  float: left;
  margin-left: $space-l;
  margin-top: $space-xl;
  span {
    display: block;
  }
}

.awardees-top-header {
  border-bottom: 2px solid $color-gray-light;
  margin-bottom: $space-l;
}

.awardees-bottom-header {
  .flex-list {
    li {
      border-right: 2px solid $color-gray-light;
      padding: $space-l $space-l 0;

      &:last-child {
        border: 0;
      }

      span {
        display: block;
      }
    }
  }
}

.awardees-details-accordion {
  .usa-accordion-content {
    padding-left: $space-s;
    padding-right: $space-s;
  }
  .usa-accordion-button {
    background-image: url('../uswds/img/arrow-down.svg');
    padding-left: $space-s;
    padding-right: $space-s;
    font-size: $font-size-xs;
    font-weight: $font-normal;
    background-color: $color-white;
    border-top: 1px solid $color-gray-light;
    &:hover {
      border: 0;
      border-top: 1px solid $color-gray-light;
      background-color: $color-gray-lighter;
    }
    .accordion-number-of-awardees {
      color: $color-primary;
      padding-right: $space-s;
      display: inline-block;
      font-weight: $font-bold;
      font-size: $font-size-s;
    }
  }
}
