// consolidate these later
.background-light-blue,
.bg-blue-light {
  background-color: $color-blue-light;
}

.background-light-neutral {
  background-color: $color-neutral-light;
}

.background-white {
  background-color: $color-white;
}

.background-gray-dark {
  background-color: $color-gray-dark;
}

// consolidate these later
.background-light-warm-gray,
.bg-gray-warm-light {
  background-color: $color-gray-warm-light;
}

.background-bold-blue {
  background-color: $color-primary-alt-light;
}

.background-secondary {
  background-color: $color-secondary;
}
