  .page-fastlane-application-overview .usa-width-three-fourths .usa-section.usa-content img {
    margin:0px;
  }
  .page-form-preparation .usa-width-three-fourths .usa-section.usa-content img {
    margin:0px;
  }
  .page-form-preparation-part-2 .usa-width-three-fourths .usa-section.usa-content img{
    margin:0px;
  }
  .page-form-preparation-part-3 .usa-width-three-fourths .usa-section.usa-content img{
    margin:0px;
  }
  .page-proposal-submission .usa-width-three-fourths .usa-section.usa-content img{
    margin:0px;
  }
  
