.usa-footer,
.usa-footer-primary-section,
.usa-footer-secondary_section {
  background-color: $light-bg-color;
  font-size: $font-size-xxs;

  p {
    font-size: $font-size-xxs;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: $font-size-xs;
  }
}

.usa-footer-nav {
  li {
    margin: 0;
  }
  .usa-footer-primary-link {
    font-weight: normal;
    padding-bottom: .5rem;
    padding-top: .5rem;
    font-size: $font-size-xxs;
  }
}
