.usa-banner,
.usa-banner-header {
  padding-bottom: 0;
  padding-top: 0;
}

.usa-banner-inner {
  display: flex;
  justify-content: center;

  @include media($large-screen) {
    display: block;
  }
}

.usa-banner-header {

  .usa-label {
    font-size: inherit;
  }

  .banner-left {
    margin-bottom: 0;
    margin-top: 0;
  }

  .banner-right {
    float: right;
    margin-bottom: 0;
    margin-top: 0;

    > * {
      margin-bottom: 0;
      margin-top: 0;
    }
  }

  a {
    border-bottom: 0;
    text-decoration: underline;
  }
}

.usa-header {
  background-color: $color-white;
  border: 0;
}
.landing-layout .usa-header {
  background-color: transparent;
}

.sb-search {
	position: relative;
	margin-top: 10px;
	width: 0%;
	min-width: 60px;
	height: 60px;
	float: right;
	overflow: hidden;

	-webkit-transition: width 0.3s;
	-moz-transition: width 0.3s;
	transition: width 0.3s;

	-webkit-backface-visibility: hidden;
}

.sb-search-input {
	position: absolute;
	top: 0;
	right: 0;
	border: none;
	outline: none;
	background: #fff;
	width: 100%;
	height: 60px;
	margin: 0;
	z-index: 10;
	padding: 20px 65px 20px 20px;
	font-family: inherit;
	font-size: 20px;
	color: #2c3e50;
}

input[type="search"].sb-search-input {
	-webkit-appearance: none;
	-webkit-border-radius: 0px;
}

.sb-search-submit  {
	width: 60px;
	height: 60px;
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	padding: 0;
	margin: 0;
	line-height: 60px;
	text-align: center;
	cursor: pointer;
}
.sb-search-submit {
	background: #fff; /* IE needs this */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 8 */
    filter: alpha(opacity=0); /* IE 5-7 */
    opacity: 0;
	color: transparent;
	border: none;
	outline: none;
	z-index: -1;
}
.sb-search.sb-search-open,
.no-js .sb-search {
	width: 100%;
}
.sb-search.sb-search-open .sb-search-submit,
.no-js .sb-search .sb-search-submit {
	z-index: 90;
}
