.usa-hero {
  background-color: $hero-bg-color;
  background-image: none;
  padding-bottom: 6rem;
  padding-top: 6rem;

  h2 {
    font-family: $font-sans;
  }

  a {
    color: $color-green-dark;
    text-decoration: none;
    }

  .usa-button {
    color: initial;
    font-family: $font-sans;
    font-size: 2.2rem;
    font-weight: 400;
    margin-top: 0;

    &:hover {
      color: initial;
    }
    }

  .usa-hero-callout-subtext {
    font-size: 2rem;
  }

}
