.usa-hero {
  background-color: $hero-bg-color;
  background-image: none;
  padding-bottom: 6rem;
  padding-top: 0;

  h2 {
    color: $color-base;
    font-size: $font-size-xxl;
    font-weight: 800;
    letter-spacing: .025rem;
    line-height: .8625;
    text-transform: uppercase;

    .usa-hero-callout-alt {
      color: $color-white;
      display: block;
    }
  }

  .usa-button {
    color: initial;
    font-size: 2.1rem;
    font-family: $font-sans;
    font-weight: 600;
    line-height: 1.2;
    margin-top: 0;

    .subtext {
      display: block;
      font-family: $font-mono;
      font-size: $font-size-xxs;
      font-weight: 400;
    }

    &:hover {
      color: initial;
    }
    }
  }
.usa-header {
  margin-bottom: 6rem;
}
