
.tech-subtopics {
  padding-bottom: $space-xl;
  display: block;
  .tech-subtopics-header {
    display: inline;
    font-size: $font-size-xxs;
  }
  ul {
    display: inline;
    list-style: none;
    padding-left: 0;
}
li:last-child {
  &::after {
    width: 0;
  }
}
  li {
    display: inline;
    font-size: $font-size-xxs;

    &::after {
      background-color: $color-gray-light;
      content: '';
      display: inline-block;
      height: 1px;
      margin-bottom: 3px;
      width: $space-m;
    }
  }
}

.featured-companies {
  margin-bottom: $space-m;

  li {
    padding: 0 $space-m 0 0;
    line-height: $leading-xs;
  }

  a {
    border-bottom: 0;
    border-top: 1px dotted $color-primary-darkest;
    color: $color-primary-darkest;
    display: block;
    font-size: $font-size-xxs;
    font-weight: 700;
    min-height: $space-xl - $space-s;
    padding-top: $space-xs;

    &:hover {
      border-top-style: solid;
    }
  }

}

.list-tech-topics {
  padding-top: $space-s;
  li {
    padding: 0 $space-m 0 0;
    margin-bottom: 5px;
    a {
      border-bottom: 1px dotted transparent;
      color: $color-base;
      display: inline-block;
      font-size: $font-size-xxs;
      width: calc(90% - $space-m);
      &:hover {
        border-color: $color-base;
      }
    }
  }
}
.page-portfolio {

  h2.subhead,
  h3.subhead {
    margin-bottom: $space-m;
    letter-spacing: $kern-loose;
    color: $color-gray-dark;
  }

  .awards-search-form {
    margin-bottom: $space-xl;
  }

  .section-tech-topic {
    clear: both;

    .usa-width-one-fourth {
      margin-bottom: $space-xl;

      p {
        margin-bottom: $space-xs;
        font-size: $font-size-xs;
        font-weight: 600;
      }
      ul {
        margin: 0;
        padding: 0;
        li {
          margin: 0 0 $space-xs 1.4rem;
          font-size: $font-size-xxs;
          list-style-type: circle;
        }
      }
    }

  }

  h2.text-medium.tech-topic-title {
    font-size: $font-size-m;
    font-weight: 600;
    margin-bottom: $space-xl;
    margin-top: $space-xl;
  }

  #search label {
    display: block;
    font-family: $font-serif;
    font-size: $font-size-xxxs;
    font-weight: 600;
    line-height: $leading-m;
    padding: 0;
    margin: 0;
  }
  #search input.form-control {
    border: none;
    border-bottom: 2px solid $color-primary-alt-dark;
    background-color: $color-neutral-light;
    color: $color-base;
    font-family: $font-serif;
    font-size: $font-size-xs;
    line-height: 1.625;
    margin-left: -32px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 32px;
    width: 300px;
  }
  #search .btn.btn-default {
    @include search-icon;
    background-color: $color-neutral-light;
    border: none;
    color: $color-primary-alt-dark;
    line-height: 1.625;
  }

}
