.pd-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;

  img {
    display: block;
    max-width: 100%;
  }

  li {
    margin-bottom: 12rem;
    width: 30%;
  }

  .pd-list-content {
    display: block;
    padding: 1.05rem 3rem;
  }
}

.pd-name {
  font-size: 2rem;

}
