

.usa-sidenav-list {

  margin-top: $space-xl;
  padding-top: $space-l * 2.625;

  li {
    border: none;
    padding-right: $space-s;

    a {
      color: $color-base;
      font-family: $font-serif;
      font-size: $font-size-xxs;
      font-weight: 400;
      border: none;
      padding: 1rem 1rem 1rem 0;
      margin: 0;
      background-color: transparent;
      border-bottom: 1px dotted $color-gray-light;

      &:hover {
        background-color: $color-white-transprent;
      }
      &:visited {
        background-color: $color-white-transprent;
        border-bottom: 1px solid $color-base;
      }
      &:active,
      &:focus {
        // box-shadow: 0 0 1px 0 $color-base;
        box-shadow: none;
        background-color: $color-primary-alt-lightest;
      }
    }

  }

}
