.background-light-blue {
  background-color: $light-blue-bg-color;
}

.background-light-neutral {
  background-color: $light-bg-color;
}
.background-white {
  background-color: $color-white;
}

.background-light-warm-gray {
  background-color: $light-gray-bg-color;
}

.background-bold-blue {
  background-color: $bold-blue-bg-color;
}
.page-background {
  background-position: center top;
  background-attachment: fixed;
  background-size: cover;
}

.section-background-image {
  background-color: transparent;
  padding-top: 300px;

  .caption {
    background-color: $color-white-transprent;
    float: right;
    font-size: $font-size-xxs;
    margin: 0;
    padding: 5px 20px;
  }

  .usa-width-one-third {
    float: right;
  }
}



.section-header {

  .usa-width-one-fourth {

  p {
    font-size: $font-size-xxs;
  }
  }
}

.section-about-asf {
  background-color: $light-blue-bg-color;
}

.section-intro {
  h2 {
    font-size: $font-size-s;
  }
  p {
    font-size: $font-size-xs;
  }
}

.section-program-directors {
  background: $light-gray-bg-color;
}

.divider,
.divider:first-child {
  border: 0;
  border-top: 1px solid $color-white;
  display: block;
  margin-bottom: 5rem;
  margin-top: 5rem;
  text-align: center;
  width: 10%;

  &.divider-left {
    display: inline-block;
  }
}

.usa-footer .social-link {
  border: none;
  img {
    width: 35px;
    fill: $color-primary;
  }
  &:hover {
    border: none;
    text-decoration: none;
  }
}

  a {
    border-bottom: 1px dotted $color-primary;
    color: $color-primary;
    text-decoration: none;

  &:hover {
    border-bottom-style: solid;
    text-decoration: none;
    }

  &:visited {
    color: $color-visited;
  }
}
