
.section-goodfit {
  background-color: $goodfit-bg-color;
  color: $color-primary-darker;

  a {
    color: $color-white;
  }
}

.section-about {
  background-color: $about-bg-color;
}
.section-intro {
  background-color: $intro-bg-color
}

.small-header {
  font-size: 1.7rem;
}

.large-header {
  font-size: 2.5rem;
}
