.section-header {
  background-color: $light-blue-bg-color;
  p {
    font-size: $font-size-m;
    line-height: 1.5;
  }
}

.section-goodfit {
  background-color: $bold-bg-color;

  a {
    color: $color-white;
  }
}

.section-about-asf {
  background-color: $light-blue-bg-color;
}

.section-intro {
  background-color: $light-blue-bg-color;
  p {
    font-size: $font-size-xs;
  }
}

.section-program-directors {
  background: $light-gray-bg-color;
}

.divider,
.divider:first-child {
  border: 0;
  border-top: 1px solid $color-white;
  display: block;
  margin-bottom: 5rem;
  margin-top: 5rem;
  text-align: center;
  width: 10%;

  &.divider-left {
    display: inline-block;
  }
}


#main-content {
  a {
    text-decoration: none;
    border-bottom: 1px dotted $color-primary;
    color: $color-primary;
  }
  &:visited {
    
  }
}
