.tech-topic-layout {

  .section-background-image {
    padding-top: $space-xl;


    .background-icon {
      background: url(/assets/img/icons/MI-white.svg) 40px 65px no-repeat;

      h1 {
        background-color: $color-secondary;
        display: inline-block;
        margin-bottom: 250px;
        padding: $space-xs;
        font-weight: 600;
      }

    }

    .caption {
      padding: 0;
      float: right;
    }

  }

  .program-dir-img {
    border-radius: 5rem;
    height: 10rem;
    width: 10rem;
    margin-bottom: $space-s;
  }

  h2 {
    margin-bottom: $space-l;
    line-height: $leading-xxs;
  }

  h3 {
    margin-top: $space-xl;
  }

  h4 {
    font-weight: 600;
  }

  .usa-width-one-third {
    padding-right: $space-l + $space-m;

    ul,
    li {
      padding: 0;
      margin: 0;
    }
    ul {
      margin-bottom: $space-l;
    }
    li {
      margin-bottom: $space-xs;
    }

  }

}
