.tech-topic-layout {

  .section-background-image {
    padding-top: 150px;

    h1 {
      background-color: $color-secondary;
      display: inline-block;
      margin-bottom: 150px;
      padding: $space-xs;
      font-weight: 600;
    }
  }

  .program-dir-img {
    border-radius: 5rem;
    height: 10rem;
    width: 10rem;
  }
}
