@import url('https://fonts.googleapis.com/css?family=Overpass+Mono:400,700|Work+Sans:400,500,600,700,800');

.page-title {
  font-size: $font-size-xl;
  font-weight: 800;
  letter-spacing: -.015em;
  line-height: 1.2;
  margin: 0;
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin-top: 0;
}

h2 {
  font-size: $font-size-l;
}

h3,
h4 {
  font-size: $font-size-m;
}

h5 {
  font-size: $font-size-s;
}

.header-top-bar {
  padding-top: 1.5rem;
  position: relative;

  &::before {
    background-color: $color-base;
    content: '';
    height: 2px;
    left: 0;
    position: absolute;
    top: 0;
    width: 60px;
    }
}

.header-light {
  font-weight: 500;
}

.usa-layout-docs {

  .text-large {
    font-size: $font-size-m;
  }

  .text-medium {
    font-size: $font-size-s;
}

  .text-alt {
    font-family: $font-mono;
  }

  .subhead {
    font-family: $font-mono;
    font-size: $font-size-xxs;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: $space-m;
  }

  .text-small {
    font-size: $font-size-xxs;
  }

 }





.larger-header {
  font-size: 110%;
  font-weight: 700;
}

.smaller-header {
  font-size: $font-size-s;
  font-weight: 600;
  letter-spacing: -.02rem;
  line-height: 1.325;
}

.font-serif {
  font-family: $font-serif;
}

.font-mono {
  font-family: $font-mono;
}

.font-sans {
  font-family: $font-sans;
}

.monospace {
  font-family: $font-mono;
}
