@import url('https://fonts.googleapis.com/css?family=Overpass+Mono:400,700|Work+Sans:400,500,600,700,800');

.small-header {
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: -.02rem;
  line-height: 1.325;
}

.large-header {
  font-size: 2rem;
  font-weight: 700;
}

.lead {
  font-size: 2.8rem;
  font-stretch: normal;
  font-weight: 700;
  letter-spacing: -.005em;
  line-height: 1.625;
  margin-bottom: 30px;
  margin-top: 0;
}

.monospace {
  font-family: $font-mono;
}
