$font-path: '../uswds/fonts';
$image-path: '../uswds/img';
@import 'uswds/all';

html,
body {
  font-family: $font-sans;
}

p,
ol,
ul ,
tr {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.625;
}


h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

.usa-banner-header {

}

.usa-footer-logo-img {
  max-width: 5rem;
}

.usa-grid-center, .usa-grid-center:last-child {
  float: none;
  margin: 0 auto;
}

.usa-logo {
  float: none;

  img {
    height: 40px;
  }

  a {
    display: block;
  }
}

.usa-content {
  li {
    max-width: $text-max-width;
  }
}

.usa-footer-secondary_section {
  background-color: $color-primary;
  color: $color-white;

  a {
    color: $color-white;
  }

}

.usa-button {
  border-radius: 0;
  color: $color-black;
  font-family: $font-mono;

  &.usa-button-primary {
    background: transparent;
    border: 1px solid $color-button-border;
    color: $color-black;
    font-size: $font-size-xs;
    font-weight: 400;

    &:hover {
      color: $color-black;
      background-color: $color-white;
      border-color: $color-button-border;
      }
  }

  &.usa-button-secondary {
    color: $color-black;

    &:hover {
      color: $color-black;
    }
  }

  &.usa-button-big {
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.2;
  }
}

.button-arrow::before {
  content: "\2192";
  display: inline-block;
  font-family: $font-sans;
}
