

$font-path: '../uswds/fonts';
$image-path: '../uswds/img';

@import 'uswds/all';

html,
body {
  font-family: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Roboto', 'Arial', sans-serif;
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}


.small-header {
  font-size: 1.7rem;
}

.large-header {
  font-size: 2.5rem;
}

.usa-footer-logo-img {
  max-width: 5rem;
}

.usa-footer-secondary_section {
  background-color: $color-primary;
  color: $color-white;

  a {
    color: $color-white;
  }

}
