html,
body {
  background-color: $light-bg-color;
  font-family: $font-serif;
}

p,
li,
tr {
  font-size: $font-size-xs;
  font-weight: 400;
  line-height: 1.625;
  margin-bottom: 1.5rem;
  margin-top: 0;
}

ul,
ol {
  margin-bottom: 3rem;

  p {
    margin: 0;
   }
}

.usa-banner {
  font-family: $font-sans;

  p {
    font-size: $font-size-xxs;
    line-height: 1.5;
   }
}



.usa-grid-center {
  &:last-child {
    float: none;
    margin: 0 auto;
  }
}

.usa-logo {
  float: none;

  img {
    height: 40px;
    margin-top: 1.5rem;
    max-width: none;
  }

  a {
    display: block;

    &:hover {
      border-bottom-style: none;
    }
  }
}

.usa-menu-btn {
  margin-top: 1.5rem;
}

.usa-content {
  li {
    max-width: $text-max-width;
  }
}

button,
.usa-button,
button:visited,
.usa-button:visited {
  background-color: $color-primary-alt-lightest;
  border: 1px solid $color-primary-alt;
  border-radius: 0;
  color: $color-black;
  font-family: $font-mono;
  font-size: $font-size-xxs;
  font-weight: 400;

  &.usa-button-hover,
  &:hover {
    background-color: $color-white;
    border: 1px solid $color-primary-alt;
    color: $color-black;
  }
  &.usa-button-active,
  &:active {
    background-color: $color-primary-alt;
  }


  &.usa-button-secondary {
    border: 0;
    color: $color-black;

    &:hover {
      color: $color-black;
    }
  }

  &.usa-button-big {
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.2;
  }
}

.usa-layout-docs {
  h1 {
    font-size: $font-size-xl;
    font-weight: 800;
   }

  h2 {
    font-size: $font-size-l;
    font-weight: 700;
   }

  h3 {
    font-weight: 700;
   }
}

.button-arrow {


  &::before {
    content: '\2192';
    display: inline-block;
    font-family: $font-serif;
    padding-right: $space-s;
  }
}
.button-arrow-after {
  &::after {
    content: '\2192';
    display: inline-block;
    font-family: $font-serif;
    padding-left: $space-s;

  }
  &.button-arrow-down {
      &::after {
    transform: rotate(90deg);
    position: relative;
    top: -15%;
    color: $color-primary-alt;
  }
  }
}

.usa-nav-primary {
  clear: both;
}

.usa-nav {
  margin-top: 0;
  padding: 2rem;

  li {
    a {
      color: $color-base;
      font-family: $font-mono;
      font-size: $font-size-xxs;

      &:hover {
        background-color: $color-secondary;
        border: 0;

        span {
          border: 0;
      }
    }
  }
}
}

@include media($nav-width) {
  .usa-nav {
    background-color: $color-white-transprent;
    margin-top: 3.8rem;
    padding: 0;
  }
}

@include media($large-screen) {
  .usa-nav {
    li {
      margin: 0;
    }
  }
}

.usa-header {
  background-color: $color-white;
  border: 0;
}

.usa-navbar {
  border-bottom: 0;
  height: auto;
}

@include media($nav-width) {
  .usa-navbar {
    border-bottom: none;
    height: 10.3rem;
  }
}
