

html,
body {
  font-family: $font-serif;
}

p,
li,
tr {
  font-size: $font-size-xs;
  font-weight: 400;
  line-height: 1.625;
  margin-bottom: 1.5rem;
}
ul,
ol {
  margin-bottom: 3rem;
   p {
     margin: 0;
   }
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  margin-top: 0;
}

.usa-banner {
  font-family: $font-sans;

  p {
    font-size: $font-size-xxs;
    line-height: 1.5;
   }
}

.usa-footer-logo-img {
  max-width: 5rem;
}

.usa-grid-center, .usa-grid-center:last-child {
  float: none;
  margin: 0 auto;
}

.usa-logo {
  float: none;

  img {
    height: 40px;
  }

  a {
    display: block;
  }
}

.usa-content {
  li {
    max-width: $text-max-width;
  }
}

.usa-button {
  border-radius: 0;
  color: $color-black;
  font-family: $font-mono;

  &.usa-button-primary {
    background: transparent;
    border: 1px solid $color-button-border;
    color: $color-black;
    font-size: $font-size-xxs;
    font-weight: 400;

    &:hover {
      color: $color-black;
      background-color: $color-white;
      border-color: $color-button-border;
      }
  }

  &.usa-button-secondary {
    color: $color-black;

    &:hover {
      color: $color-black;
    }
  }

  &.usa-button-big {
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.2;
  }
}

.usa-layout-docs {
   h1 {
    font-size: $font-size-xl;
    font-weight: 800;
   }
   h2 {
     font-size: $font-size-l;
     font-weight: 700;
   }
   h3 {
     font-weight: 700;
   }
}

.button-arrow::before {
  content: "\2192";
  display: inline-block;
  font-family: $font-serif;
}

.usa-nav {
  background: rgba(255,255,255,.8);
  padding: 0;
  margin-top: 3.8rem;
      li {
        margin: 0;
      a {
        color: $color-base;
        font-family: $font-mono;
        font-size: $font-size-xxs;
        &:hover {
          background-color: $color-secondary;
          border: 0;
          span {
            border: 0;
          }
        }
      }
    }
  }



.usa-header {
    border: 0;
}
