html,
body {
  background-color: $color-neutral-light;
  font-family: $font-serif;
  color: $color-base;
}

p,
li,
tr {
  font-size: $font-size-xs;
  font-weight: 400;
  line-height: $leading-m;
  margin-bottom: $space-m;
  margin-top: 0;
}

ul,
ol {
  margin-bottom: 3rem;

  p {
    margin-top: 0;
   }
}

.usa-banner {
  font-family: $font-sans;

  p {
    font-size: $font-size-xxs;
    line-height: $leading-s;
   }
}



.usa-grid-center {
  &:last-child {
    float: none;
    margin: 0 auto;
  }
}


.usa-logo {
  float: none;

  img {
    height: 40px;
    max-width: none;
  }

  a {
    display: block;

    &:hover {
      border-bottom-style: none;
    }
  }
}

.usa-menu-btn {
  margin-top: $space-m;
}

.usa-content {
  li {
    max-width: $text-max-width;
  }
}

button,
.usa-button,
button:visited,
.usa-button:visited {
  background-color: transparent;
  border: 1px solid $color-primary-alt;
  border-radius: 0;
  color: $color-base;
  font-family: $font-serif;
  font-size: $font-size-xxs;
  font-weight: 500;
  padding: $space-m 2.5rem $space-m 2rem;
  min-width: 18rem;

  &.usa-button-hover,
  &:hover {
    background-color: $color-white;
    border: 1px solid $color-primary-alt;
    color: $color-black;
  }
  &.usa-button-active,
  &:active {
    background-color: $color-primary-alt;
  }

  &.usa-button-active,
  &:active,
  &.usa-button-focus,
  &:focus {
    box-shadow: none;
  }


  &.usa-button-secondary {
    border: 0;
    color: $color-black;

    &:hover {
      color: $color-black;
    }
  }

  &.usa-button-big {
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.2;
  }
}

.usa-layout-docs {
  h1 {
    font-size: $font-size-xl;
    font-weight: 800;
   }

  h2 {
    font-size: $font-size-l;
    font-weight: 700;
   }

  h3 {
    font-weight: 700;
   }
}

.button-arrow {


  &::before {
    content: '\2192';
    display: inline-block !important;
    font-family: $font-serif;
    padding-right: $space-xs;
  }
}
.button-arrow-after {
  &::after {
    content: '\2192';
    display: inline-block;
    font-family: $font-serif;
    padding-left: $space-s;

  }
  &.button-arrow-down {
      &::after {
    transform: rotate(90deg);
    position: relative;
    top: -15%;
    color: $color-primary-alt;
  }
  }
}

.usa-header {
  background-color: $color-white;
  border: 0;
}
