// Colors
$color-red: #ff0000;
$color-green: #008000;
$bg-color: #F7F7F7;
// Color USWDS Overrides
$color-primary: #313b52;
$color-primary-alt: #85d0cb;
$color-secondary: #008000;
// Typography
$font-serif: 'Work Sans', sans-serif;
$font-mono: 'Overpass Mono', monospace;
$font-sans: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Roboto', 'Arial', sans-serif;
$font-sans-2: 'Work Sans', Arial, sans-serif;
