// Colors
$color-red: #ff0000;
$color-green: #48A463;
$color-green-dark: #2E8540;
$bg-color: #F7F7F7;
// Color USWDS Overrides
$color-primary: #313b52;
$color-primary-alt: #85d0cb;
$color-secondary: #48A463;
$color-secondary-dark: #2E8540;
// Typography
$font-serif: 'Work Sans', sans-serif;
$font-mono: 'Overpass Mono', monospace;
$font-sans: 'Work Sans', 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Roboto', Arial, sans-serif;
$font-sans-alt: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Roboto', Arial, sans-serif;
