// Colors
$color-red: #ff0000;
$color-green: #48A463;
$color-green-dark: #2E8540;
$bg-color: #F7F7F7;
$hero-bg-color: #AAAAAA;
$intro-bg-color: #F5FBFC;
$about-bg-color: #E0F3F8;
$goodfit-bg-color: #9bdaf1;
// Color USWDS Overrides
$color-primary: #046b99;
$color-primary-darker: #2C3E50;
$color-button-border: #02bfe7;
$color-primary-alt: #85d0cb;
$color-secondary: #fff039;
$color-secondary-dark: #FFFAC3;
$color-gray-lighter: $color-primary-darker;
$color-gray-lightest: #F7F7F7;
// Typography
$font-serif: 'Work Sans', sans-serif;
$font-mono: 'Overpass Mono', monospace;
$font-sans: 'Work Sans', 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Roboto', Arial, sans-serif;
$font-sans-alt: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Roboto', Arial, sans-serif;
