---
---
$font-serif: 'Work Sans', sans-serif;

$color-primary: #313b52;
$color-primary-alt: #85d0cb;
$color-secondary: green;

$font-path: '../uswds/fonts';
$image-path: '../uswds/img';

@import 'uswds/all';


.usa-hero-callout {
  max-width: 40rem;

  h2 {
    font-family: $font-sans;
    font-weight: 500;
  }

  .usa-hero-callout-alt {
    font-family: $font-serif;
    font-weight: 700;
  }

  .usa-button {
    font-size: inherit;
    margin-top: 2rem;

  }

}

.usa-footer-logo-img {
  max-width: 5rem;
}

.usa-footer-secondary_section {
  background-color: $color-primary;
  color: $color-white;

  a {
    color: $color-white;
  }

}

.usa-hero-callout-subtext {
  display: block;
}
.usa-hero {
  background-image: none;
  background-color: #f1f1f1;
}

/* -- */
.timeline {
  list-style: none;
  counter-reset: count; }

.timeline li {
  list-style-type: none;
  margin: 0;
  position: relative; }

.timeline > li:before {
  content: " ";
  width: 4px;
  background-color: #f1f1f1;
  display: block;
  position: absolute;
  height: 100%;
  left: 25%; }
  .timeline > li {
    padding: 0 0 4rem 0;
    color:#666;
  }
.timeline > li:after {
  content: "";
  display: inline-block;
  border-radius: 25px;
  width: 14px;
  height: 14px;
  border: 2px solid #999;
  position: absolute;
  top: 1.5rem;
  left: 25%;
  background-color: #fff;
  margin-left: -5px;
  }
  .step-deadline {
      font-weight: 600;
      small {display:block;
      font-weight: normal;}
  }
  .step-deadline:after {
      border-color: red !important;

  }

.time {
  width: 25%;
  display: inline-block;
  padding-top: 0;
  text-align: right;
  padding-right:5rem;
 }

.time-description {
  display: inline-block;
  vertical-align: top;
  padding-top: 1rem;
  padding-left: 5rem;
  position: relative;
  }

.timeline .usa-accordion {
  list-style: none;
  padding-left: calc(25% + 5rem);
  }

.timeline .usa-accordion li {
  counter-increment: li;
  margin: 0.25rem;
  position: relative;
  }

.timeline .usa-accordion ul li {
  list-style-type: initial; }

.timeline .usa-accordion ul li:before {
  display: none; }

.timeline .usa-accordion li:before {
  /* Display the counter */
  content: counter(count) "";
  counter-increment: count;
  background: white;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: inline-block;
  line-height: 2.7rem;
  color: green;
  text-align: center;
  margin-right: 0.5rem;
  border: 3px solid green;
  position: absolute;
  left: -6.8rem;
  top:1.9rem;
  }
  .timeline .step button {
    font-size:2rem;font-weight:400;
    color:green;
  }

  .timeline .step .step-description {
    color:#333;
    display:block;
    margin-top:1.5rem;
    font-size:initial;
  }
  .timeline .usa-accordion button[aria-expanded=false] {
    background-image: url(../uswds/img/arrow-right.svg);
  }
  .timeline .usa-accordion button {
    background-image: url(../uswds/img/arrow-down.svg);
    background-position: left 2.25rem top 2.9rem;
    padding:2.5rem 5.5rem 2.5rem 5.5rem;
  }
