<div class="usa-banner">
  <div class="usa-accordion">
    <header class="usa-banner-header">
      <div class="usa-grid usa-banner-inner">
        <div class="banner-right flex flex-center">
          <img src="{{ site.baseurl }}/assets/uswds/img/favicons/favicon-57.png" alt="U.S. flag">
          <p>An official website of the United States government</p>
        </div>
        <p class="banner-left">This site is currently in <a href="https://18f.gsa.gov/dashboard/stages/#beta">beta</a>. Please <a href="https://github.com/18F/nsf-sbir/issues/new">report an issue</a>. Visit the <a href="https://www.nsf.gov/eng/iip/sbir/home.jsp">current NSF SBIR/STTR</a> site.</p>
      </div>
    </header>
  </div>
</div>
