---
title: Awardees
permalink: /awardees/

layout: base
---

{% assign awards_summary = site.data.awards_summary %}

<section class="usa-section background-light-neutral">
  <div class="usa-grid awardees-top-header">
    <div class="usa-width-one-whole">
      <h2 class="text-medium">Current awardees</h2>
      <div class="usa-accordion accordion-dropdown ">
            <button class="usa-accordion-button text-xxl" aria-expanded="false" aria-controls="awardees-nav">
          Phase I: all active awardees
          </button>
            <div id="awardees-nav" class="usa-accordion-content">
              <ul>
                <li>Phase I: all active awardees</li>
                <li>Phase I: recent 12/2016 awardees</li>
                <li>Phase II awardees</li>
              </ul>
            </div>
      </div>
    </div>
    <div class="usa-width-one-whole">
      <span class="text-xxxxl font-bold big-number">329</span>
      <p class="big-number-description"><span class="font-mono">Number of comapnies with active awards</span>
      <span class="text-large font-bold">Phase I seed funding</span></p>
    </div>
  </div>
  <div class="usa-grid awardees-bottom-header">
    <ul class="flex-list flex-list-3-col">
    <li>
      <span class="text-xxl font-bold">{{ awards_summary.funding_per_company | round | intcomma_dollar }}</span>
      <span class="font-mono">Average $ amount of funding awarded for each company</span>
    </li>
    <li>
      <span class="text-xxl font-bold">{{ awards_summary.states_total }}</span>
      <span class="font-mono">From {{ awards_summary.states_total }} states and territories including D.C., Puerto Rico, and the Virgin Islands</span>
    </li>
    <li>
      <span class="text-xxl font-bold">{{ awards_summary.applications_total | intcomma }}</span>
      <span class="font-mono">Total applications received {{ awards_summary.active_date_range }}</span>
    </li>
    </ul>
    {% comment %}
    <h3>Applications since {{ site.data.awards_meta.date_start }}</h3>
    <p><strong>{{ awards_summary.applications_total | intcomma }}</strong> applications</p>
    <p><strong>{{ awards_summary.states_total }}</strong> states and territories funded (including D.C., Puerto Rico, and the Virgin Islands</p>
    <p><strong>{{ awards_summary.funding_total | round | intcomma_dollar }}</strong> in total funding</p>
    <p><strong>{{ awards_summary.funding_per_company | round | intcomma_dollar }}</strong> per company</p>

    <hr />

    <h3>Applications (active) in date range: {{ site.data.awards_summary.active_date_range }}</h3>
    <p><strong>{{ awards_summary.applications_active_total | intcomma }}</strong> total active applications</p>
    <p><strong>{{ awards_summary.funding_applications_active_total | round | intcomma_dollar }}</strong> in total funding for active applications</p>
    <p><strong>{{ awards_summary.funding_per_active_company | round | intcomma_dollar }}</strong> per active application</p>

    {% endcomment %}
  </div>
</section>

<section class="usa-section background-white">
    <div class="usa-grid">
  <h2 class="text-medium">Current Phase I awardees</h2>
</div>
  <div class="usa-grid">
    <div class="usa-accordion">
    {% for topic in site.data.tech-topics %}
      {% assign po_name = topic.programDirector[0].name %}
      {% assign matching_awards = site.data.awards | uniq | where:'poName', po_name %}
      {% if matching_awards.size > 0 %}
        <button class="usa-accordion-button" aria-expanded="false" aria-controls="{{ topic.topic | slugify }}">
          <span>{{ matching_awards | size }}</span>
          <span>{{ topic.topic | default: "" }}</span>
        </button>
        <div id="{{ topic.topic | slugify }}" class="usa-accordion-content bg-blue-light">
          <ul class="table monospace">
            <li class="table-row table-header">
              <div class="table-row-item">Company</div>
              <div class="table-row-item">Location</div>
              <div class="table-row-item narrow numeric">Award amount</div>
              <div class="table-row-item narrow numeric">Award date</div>
            </li>
            {% for matching in matching_awards %}
              <li class="table-row">
                <div class="table-row-item" data-header="Company">
                  {% assign awardeeSlug = matching.awardeeName | slugify %}
                  <a href="{{ '/awardees/details/?company=' | append: awardeeSlug | relative_url }}" alt="{{ matching.awardeeName }}">
                  <span>{{ matching.awardeeName }}</span>
                  </a>
                </div>
                <div class="table-row-item" data-header="Location">{{ matching.awardeeStateCode }}</div>
                <div class="table-row-item narrow numeric" data-header="Amard amount">{{ matching.fundsObligatedAmt | intcomma_dollar }}</div>
                <div class="table-row-item narrow numeric" data-header="Award date">{{ matching.date }}</div>
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
    {% endfor %}
    </div>
  </div>
</section>
